@model PersonelGiriş_MVC.Models.personel
@{
    ViewBag.Title = "yenipersonelgir";
}

<!DOCTYPE HTML>
<html>
<body>
    <!-- Parallax Effect -->
    <script type="text/javascript">$(document).ready(function () { $('#parallax-pagetitle').parallax("50%", -0.55); });</script>
    <section class="parallax-effect">
        <div id="parallax-pagetitle" style="background-image: url(../../fonts/parallax-01.jpg);">
            <div class="color-overlay">
                <!-- Page title -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            @*<ol class="breadcrumb">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active">Room detail</li>
                                </ol>
                            *@
                            <h1>Personel Ekle</h1>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <h2 style="color:black">@ViewBag.mesaj</h2>
                            @using (Html.BeginForm("yenipersonelgir", "kayit", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div style="width: 300px; height: auto; float: left;color:black">
                                    <dl>
                                        <dt>İsim  Giriniz: @*@Html.NameFor(i => Model.isim)*@ <label>@Html.ValidationMessageFor(i => Model.isim)</label> </dt>
                                        <dd>@Html.TextBoxFor(i => Model.isim, new { @class = "form-control" })</dd>

                                        <dt>Soyisim  Giriniz:<label>@Html.ValidationMessageFor(i => Model.soyisim)</label></dt>
                                        <dd>@Html.TextBoxFor(i => Model.soyisim, new { @class = "form-control" })</dd>

                                        <dt>TCNo Giriniz:<label>@Html.ValidationMessageFor(i => Model.tcno)</label> </dt>
                                        <dd>@Html.TextBoxFor(i => Model.tcno, new { @class = "form-control" })</dd>

                                        <dt>Yüklenecek Resmi Seçiniz:</dt>
                                        <dd><input type="file" class="form-control" name="gelendosya" /></dd>
                                    </dl>
                                </div>
                                <div style="width: 300px; height: auto; float: left; margin-left: 100px;color:black">
                                    <dl>
                                        <dt>Doğumtarihi Giriniz:<label>@Html.ValidationMessageFor(i => Model.dogumtarihi)</label></dt>
                                        <dd>@Html.TextBoxFor(i => Model.dogumtarihi, new { @class = "form-control" })</dd>

                                        <dt>Doğumyeri Giriniz:<label>@Html.ValidationMessageFor(i => Model.dogumyeri)</label> </dt>
                                        <dd>@Html.TextBoxFor(i => Model.dogumyeri, new { @class = "form-control" })</dd>

                                        <dt>Cinsiyet Giriniz:<label>@Html.ValidationMessageFor(i => Model.cinsiyet)</label></dt>
                                        <dd>@Html.TextBoxFor(i => Model.cinsiyet, new { @class = "form-control" })</dd>

                                        <br />
                                        <dt></dt>
                                        <dd style="text-align:center"><input type="submit" class="btn btn-default" value="Kaydet"></dd>

                                    </dl>

                                </div>
                                <div style="width: 300px; height: auto; float: right;color:black">
                                    <dl>
                                        <dt>Kangrubu Giriniz:<label>@Html.ValidationMessageFor(i => Model.kangrubu) </label> </dt>
                                        <dd>@Html.TextBoxFor(i => Model.kangrubu, new { @class = "form-control" })</dd>

                                        <dt>Adres Giriniz:<label>@Html.ValidationMessageFor(i => Model.adres)</label> </dt>
                                        <dd>@Html.TextBoxFor(i => Model.adres, new { @class = "form-control" })</dd>

                                        <dt>TelNo Giriniz:<label>@Html.ValidationMessageFor(i => Model.telno)</label> </dt>
                                        <dd>@Html.TextBoxFor(i => Model.telno, new { @class = "form-control" })</dd>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <p class="btn btn btn-default" style="float:right">
                                            @Html.ActionLink("Kayıtları Listele ->", "yenipersonelList")
                                        </p>
                                    </dl>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
